In [2]:
#Dependencies
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [3]:
# Check db
db_path = "belly_button_biodiversity.sqlite"
engine = create_engine(f"sqlite:///{db_path}")
conn = engine.connect()

In [6]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [7]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [8]:
# Print all of the classes/tables mapped to the Base
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [14]:
# Assign to variables
otu_df = pd.read_sql("SELECT * FROM otu", conn)
samples_df = pd.read_sql("SELECT * FROM samples", conn)
samples_metadata_df = pd.read_sql("SELECT * FROM samples_metadata", conn)

In [19]:
print(type(otu_df['lowest_taxonomic_unit_found']))
otu_df.head()

<class 'pandas.core.series.Series'>

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [17]:
samples_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
samples_metadata_df.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852,37.172222,54.5,0.0,1,0.0,33.990002,25.5
1,941,0,Caucasian/Midleastern,F,34,1.0,I,Chicago/IL,0,0,...,0,0,0,0.000000,0.0,0.0,0,0.0,0.000000,0.0
2,943,BellyButtonsScienceOnline,Caucasian,F,49,1.0,I,Omaha/NE,0,0,...,0,0,0,0.000000,0.0,0.0,0,0.0,0.000000,0.0
3,944,BellyButtonsScienceOnline,European,M,44,1.0,I,NewHaven/CT,usa,7079,...,no,yes,0,35.816666,16.0,0.0,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48,1.0,I,Philidelphia/PA,usa,84404,...,no,no,0,37.783333,4.0,0.0,0,5613.0,33.634445,24.0